/*
common
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/*
common
*/

/*
inizio intestazione(1)
*/
header{
    padding: 44px;
    text-align: center;
}

.main-container{
    padding: 0 100px;
}

.main-title{
   margin-bottom: 30px;
   color: #e53170;
}
/*
fine intestazione(1)
*/
/**************************************************************************************************/
/*
inizio mian(2)
*/
.middle-container{
    padding: 0 140px;
}

.box-content .box{
    width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    border:1px solid black;
    float: left;
    margin: 10px;
    width: calc(100% / 3 - 20px);
}

img{
    width: 100px;
    float: left;
}

.box-text{
    color: white;
    float: left;
    width: calc(100% - 100px);
}

.box{
    width: 100%;
    display: block;
}

p, a{
    margin:10px 0 6px 10px;
    text-decoration: none; 
}

.marcatura{
    font-weight: 700;
}

a{
    color: #0078d3;
}

/*
fine mian(2)
*/